build/
.idea/
.gradle/

common/build/
common/run/
common/.gradle/
common/.idea/

fabric/build/
fabric/run/
fabric/.gradle/
fabric/.idea/

forge/build/
forge/run/
forge/.gradle/
forge/.idea/

neoForge/build/
neoForge/run/
neoForge/.gradle/
neoForge/.idea/